<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

</head>
<body>
<h1>Dar de alta un ingrediente</h1>
<!--  
<form action="#" th:action="@{/createpost}" th:object="${postweb}" method="post">
    <p>Post Title: <input type="text" th:field="*{title}" /></p>
	<p>Comment: <input type="text" name="comment" /> </p>
    <p><input type="submit" value="Post" /> <input type="reset" value="Reset" /></p>
</form>
-->
</body>
</html>